/* src/styles/global.css */

/* Import the base styles */
@tailwind base;
/* Import the component styles */
@tailwind components;
/* Import the utility styles */
@tailwind utilities;

/* Now, you can safely add your custom styles */
@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Small width for the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000; /* Black color for the thumb */
    border-radius: 10px; /* Rounded corners */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray track */
  }
}
/* Add this to your global CSS or `_app.js` */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
